#delete_form.form{:style => "display: none;"}= render :partial => "tags/delete_form"

#data.content
  .navigation
    = link_to "Dashboard", subscription_path(subscription)

  %h2#name= render :partial => "tags/name"

  %p
    %span Start
    = calendar_date_select_tag "start_time"
    %span End
    = calendar_date_select_tag "end_time"

  %table.entries
    = render :partial => "events/balance", :locals => { :container => tag_ref }
    = render(@items)
